@using Toolbelt.Blazor.SpeechSynthesis
@inject SpeechSynthesis SpeechSynthesis
<h3>@Title</h3>
<button @onclick="@SetTitle">hahahhahaha哈哈</button>
@code {
    public string? Title { get; set; }

    public async Task SetTitle()
    {
        Title = Guid.NewGuid().ToString("N");
        await this.SpeechSynthesis.SpeakAsync("hello");
    }
}